* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.nav {
    width: 100%;
    background-color: burlywood;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav h2 {
    font-weight: bold;
    color: #fff;
}

#container1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#ib{
    
    
    background-color:gray;
    width:400px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    outline:none;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding:0px;
    outline: none;
}
    
#ib  input{
    background-color: transparent;
    border: none;
    width:270px;
    padding: 5px;
    font-weight: 14px;
    font-size: 15px;
    outline: none;
    color:black;
    margin-left: 10px;
    
    

}

#ib button{
    background-color: burlywood;
    border: none;
    padding: 15px 32px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    color:black;
    
    
  
   
}


#ib input::placeholder {
    color:black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

#li-items {
    width: 800px;
    max-width: 600px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    width:500px;
    background-color: burlywood;
    color: black;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    margin-left: 50px;
}

.completed {
    background-color: teal;
    text-decoration: line-through;
    cursor: pointer;
    color: white;
}



span {
    background-color: gray;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    padding: 5px 10px;

}

span:hover {
    background-color: #000;
}

@media (max-width: 600px) {
    #ib {
        width: 80%;
    }

    li {
        font-size: 14px;
        padding: 8px 10px;
    }

    span {
        padding: 3px 6px;
    }
}
